/**
    Multi
    Line
    Comment
*/

* {
    margin: 0;
}

:root {
  --main-bg-color: brown;
}

tag {
    background-color: var(--main-bg-color);
    width: calc(5px - 10px);
}

#id {
    margin: 10px;
    width: 100%;
    height: 70px;
}

.class {
    display: inline-block;
}

:not(p) { color: green; }

body a[target="_blank"] {
  background-color: #FF0011 !important;
}

@media screen and (color) {
    .lizard a[target^="https://"]{
        background: no-repeat url("../../media/examples/lizard.png");
    }
}

@supports (display: flex) {
    .flex-container > * {
        text-shadow: 0 0 2px blue;
        float: none;
    }

    .flex-container {
        display: flex;
    }
}

@font-feature-values Font One {
    @styleset {
        nice-style: 12;
    }
}

@keyframes slidein {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

