/**
    Multi
    Line
    Comment
*/

:root {
  --main-bg-color: brown;
}

tag {
    background-color: var(--main-bg-color);
}

#id {
    margin: 10px;
    width: 100%;
    height: 70px;
}

.class {
    display: inline-block;
}

body a[target="_blank"] {
  background-color: #FF0011;
}

@media screen and (color) {
    .lizard a[target^="https://"]{
        background: no-repeat url("../../media/examples/lizard.png");
    }
}
